*{
	margin: 0px;
	padding:0px;
}

.header-area{
    height: 300px;
    background:	#FF2AAA;
	overflow: hidden;
}
.middle-left{
    width: 25%;
	height: 300px;
	background: #D47FFF;
	float: left;
}
.middle-mm{
	width: 50%;
	background: red;
	height: 300px;
	float: left;
}
.middle-right{
	width: 25%;
	background: yellow;
	height: 300px;
	float: left;
}
.footer-area{
    height: 300px;
    background: blue;
}
.middle-area:after{
	content: '';
	display: block;
	clear: both;
}